<div class="margin-10">
  <button
    data-target="modal1"
    id="view-order"
    class="btn modal-trigger waves-effect grey-text text-darken-4 waves-dark green accent-4"
    type="submit"
    name="action">View order details
    <i class="material-icons right">assignment</i>
  </button>
  <button
    id="current-total"
    class="btn-flat grey-text text-darken-4 white right">
    Order Total: $
  </button>
</div>

<div id="menu-container">
  {{#each categories as |category|}}
  <div class="card hoverable margin-10 noselect">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/images/{{category.filename}}">
    </div>
    <div class="card-content {{category.card_color}}">
      <span class="card-title activator">
        <strong>{{category.label}}</strong>
      </span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        {{category.name}}
        <i class="material-icons right">close</i>
      </span>
      
      <table class="highlight">
        <tbody>
          {{#each items as |item|}}
              <tr>
                <td id="item-name-{{item.id}}" class="tooltipped" data-position="top" data-tooltip="{{item.description}}">{{item.name}}</td>
                <td id="item-price-{{item.id}}">${{item.price}}</td>
                <td>
                  <button class="btn-floating btn-small waves-effect waves-light red">
                    <i id="decrementer-{{item.id}}" class="material-icons">remove</i>
                  </button>
                  <label class="grey-text text-darken-4" id="item-qty-{{item.id}}">0</label>
                  <button class="btn-floating btn-small waves-effect waves-light green">
                    <i  id="incrementer-{{item.id}}" class="material-icons">add</i>
                  </button>
                </td>
              </tr>
            {{/each}}
        </tbody>
      </table>
    
    </div>
  </div>
  {{/each}}
</div>

{{!-- Modal 1 for order build --}}
	<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Order details
        <a class="modal-close waves-effect waves-dark black-text">
          <i class="material-icons right noselect">close</i>
        </a>
      </h4>
      <table id="order-table">
        <tbody id="order-body">
          <tr id="table-headers">
            <td>Item</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
          </tr>
        </tbody>
      </table>

      <table id="order-total-table">
        <tbody>
          <tr id="order-total-row">
            <td></td>
            <td></td>
            <td><strong>Order Total:</strong></td>
            <td><strong id="order-total-amt">$0</strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button 
        data-target="modal1"
        id="place-order"
        class="btn modal-close left waves-effect yellow darken-2 grey-text text-darken-4 margin-top-10">
        Place Order<i class="material-icons right">grade</i>
      </button>
      <button id="edit-order"
        class="btn modal-close waves-effect blue accent-2 grey-text text-darken-4 margin-top-10">
        Continue Ordering<i class="material-icons right">assignment</i>
      </button>
    </div>
  </div>
{{!-- end of modal --}}

<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.1-alpha/dist/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/order.js"></script>
